<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.vaith.weeblogbackend.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="xyz.vaith.weeblogbackend.model.Article">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <association
                column="id"
                property="category"
                select="xyz.vaith.weeblogbackend.mapper.CategoryMapper.selectByArticleID"/>

        <association
                column="id"
                property="cover"
                select="xyz.vaith.weeblogbackend.mapper.ImageMapper.selectByArticleId"/>
        <collection
                property="tags"
                column="id"
                select="xyz.vaith.weeblogbackend.mapper.TagMapper.selectTagsByArticleID"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, content, create_date, update_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from article
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from article
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="xyz.vaith.weeblogbackend.model.Article"
            useGeneratedKeys="true">
        insert into article (title, content, create_date,
                             update_date)
        values (#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
                #{updateDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="xyz.vaith.weeblogbackend.model.Article"
            useGeneratedKeys="true">
        insert into article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="xyz.vaith.weeblogbackend.model.Article">
        update article
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="xyz.vaith.weeblogbackend.model.Article">
        update article
        set title       = #{title,jdbcType=VARCHAR},
            content     = #{content,jdbcType=VARCHAR},
            create_date = #{createDate,jdbcType=TIMESTAMP},
            update_date = #{updateDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectArticleListBy" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from article
        order by id desc
        limit #{param1}, #{param2}
    </select>

    <select id="selectLastArticleList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from article
        order by create_date desc
        limit 6
    </select>
    <select id="selectCount" resultType="int">
        select count(*)
        from article
    </select>
    <select id="selectArchiveList" resultType="string">
        SELECT DISTINCT DATE_FORMAT(a.create_date,'%Y%m') FROM article as a ORDER BY a.create_date DESC limit 10;
    </select>
    <select id="selectArticleListWhereNameLike" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from article
        where title like concat('%',#{param1}, '%')
        order by id desc
        limit #{param2}, #{param3}
    </select>
    <select id="selectArticleListWhereArchive" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from article as a
        where DATE_FORMAT(a.create_date,'%Y%m') = #{param1}
        order by id desc
        limit #{param2}, #{param3}
    </select>
    <select id="selectArticleListWhereCategory" resultMap="BaseResultMap">
        SELECT * FROM article
        WHERE id in (SELECT article_id FROM article_category WHERE category_Id in (SELECT id FROM category WHERE name = #{param1}))
        order by id desc
        limit #{param2}, #{param3}
    </select>
    <select id="selectArticleListWhereTag" resultMap="BaseResultMap">
        SELECT * FROM article
        WHERE id in (SELECT article_id FROM article_tag WHERE tag_id in (SELECT id FROM tag WHERE name = #{param1}))
        order by id desc
        limit #{param2}, #{param3}
    </select>
</mapper>